
    <section data-bs-version="5.1" class="form7 cid-tsJ8wGtENs" id="form7-q">


        <div class="container">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Get in Touch</strong>
                </h3>

            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8 mx-auto mbr-form">
                <form method="post" action="/Contact/SubmitContactForm">
                    <p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
                        One of our team will be in contact with you shortly.
                    </p>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="ContactName" placeholder="Your Name" class="form-control" required>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="Email" placeholder="Your Email" class="form-control" required>
                        </div>
                        <div data-for="message" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <textarea name="Message" class="form-control" rows="5" placeholder="Your Message" required></textarea>
                        </div>
                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Send</button>
                        </div>
                    </div>
                </form>

                </div>
            </div>
        </div>
    </section>
